form
  fieldset
    legend New Post
    .clearfix
      label(for="title") Title
      .input
        input.xlarge#title(type="text", name="post[title]")
    .clearfix
      label(for="post") Post
      .input
        textarea#body.xxlarge(name="post[body]",rows="3")
    .actions
      a.btn.primary#publish Publish!

      a.btn#cancel Cancel