extends layout

block append head
  != js('blog-includes')

block append body
  #blog-app
    #post-list
      h1#blog-title= title
      p Welcome to #{title}
      .big
        ul#posts
        li#post-template.hidden
          a.post-title(href='#post/{{_id}}')
            {{title}}
          &nbsp;
          a.post-delete-btn
            i.icon-remove-sign

      #new-post-form.display-none
        include add-post

    #post.display-none
      include post