h1#blog-title= title
p Welcome to #{title}
.big
  ul
    each post in posts
      li
        a(href="post/#{post.id}")
          = post.title
        &nbsp;
        a(href="post/#{post.id}/del") x
