block append head
  != js('posts/post-view')

h1#blog-title= title
p Welcome to #{title}
.big
  ul#posts
    each post in posts
      li
        a(href="post/#{post.id}")
          = post.title
        &nbsp;
        a.delete(href="post/#{post.id}/del") x
  #template
    {{ name }}
