extends layout

block append head
  != js('blog-includes')

block append body
  #blog-app
    #post-list.section
      include post-list
    #new-post.section
      include new-post
    #post.section
      include post